button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b9aee685;
  border-radius: 10px;
  width: 5px;
}

html {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.splide__arrow--prev {
  left: -30px;
  background-color: transparent;
}

.splide__arrow--next {
  right: -30px;
  background-color: transparent;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #b9aee6;
  height: 10px;
  width: 10px;
  border-radius: 360px;
}

@font-face {
  font-family: "Prestij";
  src: local("Prestij"), url("/src/assets/Prestij/Prestij_Regular_Demo.otf") format("opentype");
}

.logoFont {
  font-family: "Prestij";
  font-size: 25px;
}

li {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #837e9f;
}

h1 {
  font-family: "Prestij";
  font-size: 100px;
  margin: 0;
  color: #280b38;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #837e9f;
  margin: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #280b38;
  margin: 0;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #837e9f;
  margin: 0;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #280b38;
  margin: 0;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #280b38;
  margin: 0;
}

.oneLinerFont {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #280b38;
  margin: 0;
}

.searchFont {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #837e9f;
  margin: 0;
}

.categoryFont,
.commentFont {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #280b38;
  margin: 0;
}

.categoryImageFont {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: rgba(237, 233, 254, 0.7);
  color: #837e9f;
  font-weight: 500;
  margin: 0;
}

.commentTitleFont {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #280b38;
  margin: 0;
}

.switchAuthFont {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #837e9f;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #280b38;
  line-height: 25px;
}

.errorFont, .successFont {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #a71d1d;
  text-align: center;
}

.successFont {
  color: #28a728;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 10px;
  }
  h3 {
    font-size: 13px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 25px;
  }
  li {
    font-size: 12px;
  }
  .logoFont {
    font-size: 20px;
  }
  .searchFont {
    font-size: 14px;
  }
  .categoryFont,
  .commentFont {
    font-size: 12px;
  }
  .commentTitleFont {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 12px;
  }
  h3 {
    font-size: 13px;
  }
  h5 {
    font-size: 13px;
  }
  h6 {
    font-size: 20px;
  }
  .logoFont {
    font-size: 18px;
  }
}

.navShadow {
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  background-color: white;
  top: 0;
}

.navShadow[menuisopen="true"] {
  z-index: 3;
}

.navDiv {
  height: 80px;
  max-width: 1350px;
  padding: 0 40px;
  background-color: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navDiv .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.navDiv .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.navDiv .links ul * {
  cursor: pointer;
}

.navDiv .links .authButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.navDiv .links .authButtons > * {
  background-color: #7033bf;
  color: white;
  height: 30px;
  width: 80px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navDiv .links .authButtons > *:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navDiv .links .authButtons > *:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1400px) {
  .navDiv .links {
    gap: 40px;
  }
  .navDiv .links .authButtons > * {
    background-color: #7033bf;
    color: white;
    height: 22px;
    width: 60px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .navDiv .links .authButtons > *:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .navDiv .links .authButtons > *:active {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 1000px) {
  .navDiv {
    height: 60px;
    padding: 0 20px;
  }
  .navDiv .menuIcon {
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  .navDiv .links {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 30vw;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ede9fe), to(#b9aee6));
    background-image: linear-gradient(to bottom, #ede9fe, #b9aee6);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .navDiv .links[openmenuanimation="true"] {
    -webkit-animation: toggleMenu 0.2s ease-in-out;
            animation: toggleMenu 0.2s ease-in-out;
  }
  .navDiv .links[closemenuanimation="true"] {
    animation: toggleMenu 0.2s ease-in-out reverse;
  }
  .navDiv .links[menuisopen="true"] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navDiv .links ul,
  .navDiv .links .authButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 40px;
  }
  .navDiv .links ul li,
  .navDiv .links .authButtons button {
    height: 40px;
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    color: white;
    font-size: 25px;
    font-weight: 400;
  }
  .navDiv .links ul li:hover,
  .navDiv .links .authButtons button:hover {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 600px) {
  .navDiv .links {
    width: 50vw;
    gap: 20px;
    position: absolute;
  }
  .navDiv .links ul,
  .navDiv .links .authButtons {
    gap: 20px;
  }
  .navDiv .links ul li,
  .navDiv .links .authButtons button {
    font-size: 15px;
  }
}

@-webkit-keyframes toggleMenu {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes toggleMenu {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.headerDiv {
  height: calc(100vh - 80px);
  min-height: 500px;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
      grid-template-areas: "title image" "selectLanguage image";
}

.headerDiv > * {
  margin: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.headerDiv .titleDiv {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerDiv .titleDiv .backgroundImage {
  height: 520px;
  width: 600px;
  margin: 0 auto;
  background-image: url(/src/assets/titleBackground.png);
  background-repeat: no-repeat;
  background-size: 600px;
  padding-left: 70px;
  gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headerDiv .titleDiv .backgroundImage .welcome {
  font-size: 18px;
  font-weight: 400;
}

.headerDiv .titleDiv .backgroundImage h2 {
  width: 70%;
}

.headerDiv .selectLanguageDiv {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: selectLanguage;
  width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

.headerDiv .selectLanguageDiv h3 {
  margin-bottom: 20px;
  margin-left: 10px;
}

.headerDiv .selectLanguageDiv .flag {
  height: 50px;
  width: 80px;
  border-radius: 7px;
}

.headerDiv .selectLanguageDiv .selectedLanguage .flag {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.headerDiv .selectLanguageDiv .selectedLanguage .countryName {
  visibility: visible;
}

.headerDiv .selectLanguageDiv .countryName {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.headerDiv .selectLanguageDiv .slide:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.headerDiv .selectLanguageDiv .slide:hover .flag {
  cursor: pointer;
}

.headerDiv .selectLanguageDiv .slide:hover .flag:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.headerDiv .selectLanguageDiv .slide:hover .flag:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.headerDiv .selectLanguageDiv .slide:hover .countryName {
  visibility: visible;
}

.headerDiv .selectLanguageDiv .splide__arrow--prev {
  top: 25px;
}

.headerDiv .selectLanguageDiv .splide__arrow--next {
  top: 25px;
}

.headerDiv .imageDiv {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.headerDiv .imageDiv .purpleBlock {
  height: 600px;
  width: 400px;
  margin-left: 100px;
  background-color: #7033bf;
}

.headerDiv .imageDiv .image {
  background-color: aliceblue;
  height: 400px;
  width: 400px;
  position: absolute;
  left: 100px;
  -webkit-box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.3);
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1400px) {
  .headerDiv {
    height: 75vh;
  }
  .headerDiv .titleDiv .backgroundImage {
    width: 450px;
    background-size: 450px;
    background-position: center;
    padding-top: 40px;
  }
  .headerDiv .titleDiv .backgroundImage .welcome {
    font-size: 12px;
  }
  .headerDiv .selectLanguageDiv {
    width: 320px;
  }
  .headerDiv .selectLanguageDiv .flag {
    height: 40px;
    width: 65px;
  }
  .headerDiv .selectLanguageDiv .splide__arrow--prev {
    top: 20px;
    font-size: 12px;
  }
  .headerDiv .selectLanguageDiv .splide__arrow--next {
    top: 20px;
    font-size: 12px;
  }
  .headerDiv .imageDiv .purpleBlock {
    height: 525px;
    width: 350px;
  }
  .headerDiv .imageDiv .image {
    height: 350px;
    width: 350px;
    left: 50px;
  }
}

@media (max-width: 1400px) and (min-height: 1000px) {
  .headerDiv {
    height: 60vh;
  }
}

@media (max-width: 1000px) {
  .headerDiv {
    height: 60vh;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 75% 30%;
        grid-template-rows: 75% 30%;
  }
  .headerDiv .selectLanguageDiv {
    margin-bottom: 50px;
  }
  .headerDiv h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerDiv .imageDiv {
    display: none;
  }
  .headerDiv .titleDiv .backgroundImage {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerDiv .titleDiv .backgroundImage h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .headerDiv .titleDiv .backgroundImage {
    width: 300px;
    background-size: 300px;
    background-position: center;
    padding-top: 150px;
    margin-bottom: 30px;
  }
  .headerDiv .titleDiv .backgroundImage h1 {
    margin-bottom: 70px;
  }
  .headerDiv .titleDiv .backgroundImage .welcome {
    font-size: 12px;
  }
  .headerDiv .selectLanguageDiv {
    width: 240px;
  }
  .headerDiv .selectLanguageDiv .flag {
    height: 30px;
    width: 50px;
    border-radius: 3px;
  }
  .headerDiv .selectLanguageDiv .splide__arrow--prev {
    top: 15px;
    font-size: 10px;
  }
  .headerDiv .selectLanguageDiv .splide__arrow--next {
    top: 15px;
    font-size: 10px;
  }
  .splide__arrow--prev {
    height: 20px;
    width: 20px;
    font-size: 10px;
  }
  .splide__arrow--next {
    height: 20px;
    width: 20px;
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .headerDiv {
    height: 80vh;
  }
  .headerDiv .titleDiv .backgroundImage {
    width: 200px;
    background-size: 200px;
    background-position: center;
    padding-top: 170px;
  }
  .headerDiv .titleDiv .backgroundImage h1 {
    margin-bottom: 40px;
  }
  .headerDiv .titleDiv .backgroundImage .welcome {
    font-size: 12px;
  }
  .headerDiv .selectLanguageDiv {
    width: 240px;
  }
  .headerDiv .selectLanguageDiv .flag {
    height: 30px;
    width: 50px;
    border-radius: 3px;
  }
}

.bodyDiv {
  min-height: 500px;
  background-image: url(/src/assets/bodyBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.loadMoreBtn {
  background-color: #7033bf;
  color: white;
  height: 30px;
  width: 90px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.loadMoreBtn:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.loadMoreBtn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tabsDiv {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
  z-index: 2;
}

.tabsDiv * {
  cursor: pointer;
}

.tabsDiv .selectedTab {
  border-bottom: 2px solid #280b38;
}

@media (max-width: 1000px) {
  .tabsDiv {
    top: -18px;
  }
}

@media (max-width: 450px) {
  .tabsDiv {
    gap: 20px;
  }
  .tabsDiv .tabsDiv.fixed.scrolled {
    background-color: white;
  }
}

.searchDiv {
  background-color: white;
  height: 50px;
  width: 300px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  margin: 80px auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchDiv ::-webkit-input-placeholder {
  color: #837e9f;
}

.searchDiv :-ms-input-placeholder {
  color: #837e9f;
}

.searchDiv ::-ms-input-placeholder {
  color: #837e9f;
}

.searchDiv ::placeholder {
  color: #837e9f;
}

.searchDiv .searchIcon {
  height: 20px;
  width: 20px;
  -webkit-mask: url(/src/assets/search.svg);
          mask: url(/src/assets/search.svg);
  background-color: #837e9f;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .searchDiv {
    height: 40px;
    width: 240px;
    margin: 60px auto;
  }
  .searchDiv .searchIcon {
    height: 16px;
    width: 16px;
  }
}

.categoriesDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.categoriesDiv .categoriesSplide {
  width: 630px;
}

.categoryDiv {
  height: 58px;
  width: 198px;
  background-color: white;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transform: scale(0.86);
          transform: scale(0.86);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 10px;
}

.categoryDiv:hover {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.categoryDiv:active {
  -webkit-transform: scale(0.84);
          transform: scale(0.84);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}

.categoryDiv .categoryIcon {
  height: 30px;
  width: 30px;
}

.categoryDiv .divider {
  height: 30px;
  width: 2px;
  background-color: #ede9fe;
}

.selected {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 1000px) {
  .categoriesDiv .categoriesSplide {
    width: 430px;
  }
  .categoriesDiv .categoriesSplide .splide__arrow--prev {
    top: 20px;
    left: -20px;
    font-size: 12px;
  }
  .categoriesDiv .categoriesSplide .splide__arrow--next {
    top: 20px;
    right: -20px;
    font-size: 12px;
  }
  .categoryDiv {
    height: 40px;
    width: 136px;
    gap: 7px;
    padding-left: 10px;
  }
  .categoryDiv .categoryIcon {
    height: 20px;
    width: 20px;
  }
  .categoryDiv .divider {
    height: 20px;
  }
}

@media (max-width: 500px) {
  .categoriesDiv .categoriesSplide {
    width: 160px;
  }
}

.articleListDiv {
  min-height: 500px;
  max-width: 1300px;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 340px 340px 340px;
      grid-template-columns: 340px 340px 340px;
  grid-auto-rows: 285px;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  row-gap: 130px;
  position: relative;
}

.articleListDiv h2 {
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 1400px) {
  .articleListDiv {
    -ms-grid-columns: 280px 280px;
        grid-template-columns: 280px 280px;
    -webkit-column-gap: 120px;
            column-gap: 120px;
    row-gap: 70px;
  }
}

@media (max-width: 850px) {
  .articleListDiv {
    margin: 100px 0;
    -ms-grid-columns: 280px;
        grid-template-columns: 280px;
    grid-auto-rows: 235px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    row-gap: 100px;
  }
}

@media (max-width: 400px) {
  .articleListDiv {
    margin: 100px 0;
    grid-auto-rows: 168px;
    -ms-grid-columns: 200px;
        grid-template-columns: 200px;
    row-gap: 80px;
  }
}

.articleDiv {
  height: 285px;
  width: 340px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #ede9fe;
}

.articleDiv[hover="1"] {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.articleDiv[hover="1"]:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.articleDiv .articleImage {
  height: 200px;
  width: 340px;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.articleDiv .imageOverlay {
  height: 200px;
  width: 340px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  position: absolute;
  top: 0;
}

.articleDiv .articleCategory {
  position: absolute;
  top: 10px;
  left: 10px;
}

.articleDiv .audioTrack {
  height: 35px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: auto;
}

.articleDiv .articleText {
  height: 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #d5ccfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleDiv .articleText .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  height: 100%;
}

.articleDiv .articleText .playAudio {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.articleDiv .articleText .playAudio:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.articleDiv .articleText .playAudio:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1400px) {
  .articleDiv {
    height: 235px;
    width: 280px;
  }
  .articleDiv .articleImage {
    height: 165px;
    width: 280px;
  }
  .articleDiv .imageOverlay {
    height: 165px;
    width: 280px;
  }
  .articleDiv .articleText {
    height: 70px;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .articleDiv {
    height: 168px;
    width: 200px;
  }
  .articleDiv .articleImage {
    height: 118px;
    width: 200px;
  }
  .articleDiv .imageOverlay {
    height: 118px;
    width: 200px;
  }
  .articleDiv .articleText {
    height: 50px;
    padding: 5px;
    padding-left: 10px;
  }
  .articleDiv .articleText .playAudio {
    height: 30px;
    width: 30px;
  }
}

.footerDiv {
  height: 70px;
  background-color: #ede9fe;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audioTimelineDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.audioTimelineDiv .track {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.audioTimelineDiv .emptyTrack {
  height: 2px;
  width: 100%;
  background-color: #837e9f;
  cursor: pointer;
}

.audioTimelineDiv .fullTrack {
  background-color: #b9aee6;
  height: 2px;
  position: absolute;
  left: 0;
}

.articleHeaderDiv {
  height: calc(100vh - 80px);
  max-width: 1500px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 40% 20% 40%;
      grid-template-rows: 40% 20% 40%;
      grid-template-areas: "title articleImage" "stats articleImage" "comments articleImage";
}

.articleHeaderDiv .articlePageTitleSection {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 70px;
}

.articleHeaderDiv .articlePageTitleSection .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-left: 20px;
}

.articleHeaderDiv .articlePageTitleSection .like {
  cursor: pointer;
}

.articleHeaderDiv .articleStatsSection {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: stats;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 90px;
}

.articleHeaderDiv .comments {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: comments;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 90px;
}

.articleHeaderDiv .articlePageImageSection {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: articleImage;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleHeaderDiv .articlePageImageSection .articlePageImage {
  height: 560px;
  width: 560px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10%;
  border: 30px solid #b9aee6;
}

@media (max-width: 1400px) {
  .articleHeaderDiv {
    height: 700px;
  }
  .articleHeaderDiv .articlePageImageSection .articlePageImage {
    height: 460px;
    width: 460px;
  }
}

@media (max-width: 1000px) {
  .articleHeaderDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 600px;
  }
  .articleHeaderDiv .articlePageTitleSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .articleHeaderDiv .articlePageTitleSection .user {
    gap: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  .articleHeaderDiv .articleStatsSection {
    padding-left: 0;
  }
  .articleHeaderDiv .comments {
    padding-left: 0;
  }
  .articleHeaderDiv .articlePageImageSection .articlePageImage {
    display: none;
  }
}

@media (max-width: 500px) {
  .articleHeaderDiv {
    height: 500px;
  }
}

.statsDiv {
  height: 110px;
  width: 375px;
  background-color: #ede9fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.statsDiv .divider {
  height: 70%;
  width: 2px;
  background-color: #837e9f;
  opacity: 10%;
}

.statsDiv * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 1400px) {
  .statsDiv {
    height: 88px;
    width: 300px;
  }
}

@media (max-width: 500px) {
  .statsDiv {
    height: 60px;
    width: 230px;
  }
}

.commentsDiv {
  height: 290px;
  width: 540px;
  border: 3px solid #b9aee6;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 60% 20%;
      grid-template-rows: 20% 60% 20%;
  padding-left: 20px;
}

.commentsDiv .commentTitleFont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.commentsDiv .commentsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow: auto;
  gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.commentsDiv .commentsList::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.commentsDiv .commentsList::-webkit-scrollbar-thumb {
  background-color: #b9aee685;
  border-radius: 10px;
  width: 5px;
}

.commentsDiv .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.commentsDiv .comment .userIcon {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b9aee6;
}

.commentsDiv .comment .commentText {
  background-color: #ede9fe;
  padding: 5px 15px;
  border-radius: 7px;
}

.commentsDiv .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 90%;
  border-bottom: 1px solid #280b38;
}

.commentsDiv .commentIcon {
  cursor: pointer;
}

.commentsDiv .leaveComment {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1400px) {
  .commentsDiv {
    height: 232px;
    width: 380px;
  }
  .commentsDiv .comment .userIcon {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 500px) {
  .commentsDiv {
    height: 170px;
    width: 247px;
    padding: 10px 20px;
  }
  .commentsDiv .commentsList {
    gap: 25px;
  }
}

.articleTextBackground {
  background-image: url(/src/assets/articleTextBackground.png);
  background-repeat: no-repeat;
}

.articleTextDiv {
  min-height: 500px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px;
}

@media (max-width: 500px) {
  .articleTextDiv {
    padding: 80px;
    margin-bottom: 100px;
  }
}

.logoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoDiv .logo {
  display: block;
  height: 50px;
  width: 50px;
  background-size: 100% 100%;
  background-image: url(/src/assets/logo.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

@media (max-width: 1400px) {
  .logoDiv .logo {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 500px) {
  .logoDiv .logo {
    height: 35px;
    width: 35px;
    margin-right: 0;
  }
}

.authDiv {
  height: 700px;
  width: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
  background-image: url(/src/assets/authBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authDiv .title {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authDiv .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.authDiv .inputs {
  height: 50%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authDiv .inputs input {
  width: 100%;
  height: 40px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.authDiv .inputs input::-webkit-input-placeholder {
  color: #837e9f;
}

.authDiv .inputs input:-ms-input-placeholder {
  color: #837e9f;
}

.authDiv .inputs input::-ms-input-placeholder {
  color: #837e9f;
}

.authDiv .inputs input::placeholder {
  color: #837e9f;
}

.authDiv .inputs input[type="submit"] {
  background-color: #7033bf;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.authDiv .inputs input[type="submit"]:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.authDiv .inputs input[type="submit"]:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.authDiv .switch {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}

.authDiv .switch .bold {
  font-weight: 600;
  cursor: pointer;
}

.authDiv .exit {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .authDiv {
    height: 600px;
    width: 400px;
  }
  .authDiv .inputs {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .authDiv {
    height: 80vh;
    width: 250px;
    max-height: 650px;
  }
  .authDiv[type="login"] {
    max-height: 400px;
  }
  .authDiv .inputs input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .authDiv .inputs input:-ms-input-placeholder {
    font-size: 12px;
  }
  .authDiv .inputs input::-ms-input-placeholder {
    font-size: 12px;
  }
  .authDiv .inputs input::placeholder {
    font-size: 12px;
  }
  .authDiv .inputs input[type="submit"] {
    background-color: #7033bf;
    color: white;
    height: 30px;
    width: 75px;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .authDiv .inputs input[type="submit"]:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .authDiv .inputs input[type="submit"]:active {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .authDiv .exit {
    right: 10px;
    top: 10px;
  }
}

.audioTrackFooterDiv {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #ede9fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.audioTrackFooterDiv .playAudio {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.audioTrackFooterDiv .playAudio:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.audioTrackFooterDiv .playAudio:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.audioTrackFooterDiv .articlePageTimeline {
  width: 70%;
  max-width: 600px;
}

@media (max-width: 500px) {
  .audioTrackFooterDiv .track .trackEmpty {
    height: 4px;
    width: 200px;
  }
  .audioTrackFooterDiv .track .trackEmpty .trackFull {
    height: 4px;
  }
  .audioTrackFooterDiv .playAudio {
    height: 30px;
    width: 30px;
  }
}
/*# sourceMappingURL=main.css.map */