.articleHeaderDiv {
  height: calc(100vh - 80px);
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 20% 40%;
  grid-template-areas:
    "title articleImage"
    "stats articleImage"
    "comments articleImage";

  & .articlePageTitleSection {
    grid-area: title;
    @include flex($ai: flex-start);
    padding-left: 70px;

    & h1 {
      font-size: 50px;
    }

    & .user {
      padding-top: 10px;
      @include flex($direction: row);
      gap: 40px;
      margin-left: 20px;
      display: none;
    }

    & .like {
      cursor: pointer;
    }
  }

  & .articleStatsSection {
    grid-area: stats;
    @include flex($ai: flex-start);
    padding-left: 90px;
  }

  & .comments {
    grid-area: comments;
    @include flex($ai: flex-start);
    padding-left: 90px;
  }

  & .articlePageImageSection {
    grid-area: articleImage;
    @include flex();
    & .articlePageImage {
      @include size(560px);
      object-position: center;
      object-fit: contain;
      box-sizing: border-box;
      padding: 10%;

      border: 30px solid $lightPurple;
    }
  }
}

@media (max-width: 1400px) {
  .articleHeaderDiv {
    height: 800px;

    & .articlePageImageSection .articlePageImage {
      @include size(460px);
    }
  }
}

@media (max-width: 1000px) {
  .articleHeaderDiv {
    @include flex($jc: space-around);
    height: 600px;

    & .articlePageTitleSection {
      @include flex();
      padding-left: 0;

      & h1 {
        text-align: center;
        font-size: 45px;
      }

      & .user {
        gap: 5px;
        @include flex();
        margin-left: 0;
        display: none;
      }
    }

    & .articleStatsSection {
      padding-left: 0;
    }

    & .comments {
      padding-left: 0;
    }

    & .articlePageImageSection .articlePageImage {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .articleHeaderDiv {
    width: 90%;
    height: 500px;

    & .articlePageTitleSection h1 {
      font-size: 30px;
    }
  }
}
