.logoDiv {
  @include flex(row, flex-start);
  cursor: pointer;

  .logo {
    display: block;
    @include size(50px);
    background-size: 100% 100%;

    background-image: url(/src/assets/logo.svg);
    background-repeat: no-repeat;
    margin-right: 10px;
  }
}

@media (max-width: 1400px) {
  .logoDiv .logo {
    @include size(40px);
  }
}

@media (max-width: 500px) {
  .logoDiv .logo {
    @include size(35px);
    margin-right: 0;
  }
}
