button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  & * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b9aee685;
    border-radius: 10px;
    width: 5px;
  }
}
html {
  width: 100%;
  box-sizing: border-box;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.splide__arrow--prev {
  left: -30px;
  background-color: transparent;
}
.splide__arrow--next {
  right: -30px;
  background-color: transparent;
}

input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $lightPurple;
  height: 10px;
  width: 10px;
  border-radius: 360px;
}
