.bodyDiv {
  min-height: 500px;
  background-image: url(/src/assets/bodyBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include flex($jc: flex-start);
  margin-bottom: 100px;
}

.loadMoreBtn {
  @include btn(30px, 90px);
}
