.tabsDiv {
  padding-top: 40px;
  @include flex(row);
  gap: 50px;
  position: sticky;
  top: -10px;
  z-index: 2;
  & * {
    cursor: pointer;
  }
  & .selectedTab {
    border-bottom: 2px solid $blackPurple;
  }
}

@media (max-width: 1000px) {
  .tabsDiv {
    top: -18px;
  }
}

@media (max-width: 450px) {
  .tabsDiv {
    gap: 20px;

    .tabsDiv.fixed.scrolled {
      background-color: white;
    }
  }
}
