.categoriesDiv {
  @include flex();
  gap: 25px;

  .categoriesSplide {
    width: 630px;
  }
}

.categoryDiv {
  @include size(58px, 198px);
  background-color: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: scale(0.86);
  @include click(0, 3px, 7px, 0.88, 0.84, 1);
  @include flex(row);
  gap: 10px;

  & .categoryIcon {
    @include size(30px);
    mask: url(/src/assets/camera.svg);
    mask-size: contain;
    background-color: $blackPurple;
  }

  & .divider {
    @include size(30px, 2px);
    background-color: $backgroundPurple;
  }
}

@media (max-width: 1000px) {
  .categoriesDiv .categoriesSplide {
    width: 430px;

    .splide__arrow--prev {
      top: 20px;
      left: -20px;
      font-size: 12px;
    }
    .splide__arrow--next {
      top: 20px;
      right: -20px;
      font-size: 12px;
    }
  }
  .categoryDiv {
    @include size(40px, 136px);
    gap: 7px;

    & .categoryIcon {
      @include size(20px);
    }

    & .divider {
      height: 20px;
    }
  }
}

@media (max-width: 500px) {
  .categoriesDiv .categoriesSplide {
    width: 160px;
  }
}
