.articleListDiv {
  min-height: 500px;
  max-width: 1300px;
  margin: 150px 0;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 340px 340px 340px;
  grid-auto-rows: 285px;
  column-gap: 100px;
  row-gap: 130px;
}

@media (max-width: 1400px) {
  .articleListDiv {
    grid-template-columns: 280px 280px;
    column-gap: 120px;
    row-gap: 70px;
  }
}

@media (max-width: 850px) {
  .articleListDiv {
    margin: 100px 0;
    grid-template-columns: 280px;
    grid-auto-rows: 235px;
    column-gap: 0px;
    row-gap: 100px;
  }
}

@media (max-width: 400px) {
  .articleListDiv {
    margin: 100px 0;
    grid-auto-rows: 168px;

    grid-template-columns: 200px;
    row-gap: 80px;
  }
}
