.articleDiv {
  @include size(285px, 340px);
  cursor: pointer;

  &[hover="1"] {
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    &:active {
      transform: scale(0.99);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }
  }

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: $backgroundPurple;

  & .articleImage {
    @include size(200px, 340px);
    padding: 10%;
    box-sizing: border-box;
    object-position: center;
    object-fit: contain;
  }

  & .articleCategory {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  & .audioTrack {
    @include size(35px, 100%);
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    box-sizing: border-box;
    @include flex(row, space-around);
    cursor: auto;
  }

  & .articleText {
    height: 85px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: darken($backgroundPurple, 6%);
    @include flex(row, $jc: space-between);

    & .text {
      @include flex($ai: flex-start, $jc: space-around);
      width: 80%;
      height: 100%;
    }

    & .playAudio {
      @include size(40px);
      background-color: white;
      border-radius: 90px;
      @include flex();
      @include click();
    }
  }
}

@media (max-width: 1400px) {
  .articleDiv {
    @include size(235px, 280px);

    & .articleImage {
      @include size(165px, 280px);
    }
    & .imageOverlay {
      @include size(165px, 280px);
    }
    & .articleText {
      height: 70px;
      padding: 10px;
    }
  }
}

@media (max-width: 400px) {
  .articleDiv {
    @include size(168px, 200px);

    & .articleImage {
      @include size(118px, 200px);
    }
    & .imageOverlay {
      @include size(118px, 200px);
    }
    & .articleText {
      height: 50px;
      padding: 5px;
      padding-left: 10px;

      & .playAudio {
        @include size(30px);
      }
    }
  }
}
