.footerDiv {
  height: 70px;
  background-color: $backgroundPurple;
  padding: 12px;
  box-sizing: border-box;
  @include flex($jc: space-around);
}

.contactAboutBackground {
  background-color: $backgroundPurple;
  width: 100%;
  .contactAboutDiv {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 30px;
    & > * {
      padding: 40px;
    }
    & .fb {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }
}

@media (max-width: 850px) {
  .contactAboutBackground .contactAboutDiv {
    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
